.elasticbeanstalk/
/bootstrap/compiled.php
/vendor
/public/.htaccess*
app/config/development/*
app/config/packages/pragmarx/glottos/config.php
composer.phar
composer.lock
glottosAdmin.apache2.conf
.DS_Store
Thumbs.db